h1{color: green;
  font-size: 40px}
body{background:black;
  text-align: center}
p{font-family:Castellar; color:white; 
font-size:28px}
h2{font-size: 30px;color:green;}
#l1{color:red;font-size:20px}
#l2{color:yellow;font-size:20px}
#l3{color: white;font-size:20px}
#l4{color: blue;font-size:20px}